<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref='http' useDefaultCredentials='true' clientConnectionLimit='50'>
          <clientProviders>
            <formatter ref='binary' />
          </clientProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="Off"/>
  </system.runtime.remoting>
</configuration>