<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClientApp.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="AppURI" serializeAs="String">
                <value>support</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3030</value>
            </setting>
        </ClientApp.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ClientApp.Properties.Settings>
            <setting name="Usuario" serializeAs="String">
                <value>user</value>
            </setting>
        </ClientApp.Properties.Settings>
    </userSettings>
</configuration>